@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-center; /* Align items to the right */
    padding: 20px;
    background-color: #000; /* Set the background color to black */
    color: #fff; /* Set text color to white */
    font-family: 'Press Start 2P'; /* Use Press Start 2P font */
  }
  
  .contact h2 {
    margin-bottom: 20px;
  }
  
  .contact-info {
    text-align: center; /* Align text to the right */
  }