@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #000; /* Set the background color to black */
  color: #fff; /* Set text color to white */
  font-family: 'Press Start 2P'; /* Use Press Start 2P font */
}

.projects h2 {
  margin-bottom: 20px;
}

.project {
  margin-bottom: 40px;
}